project:
  type: website
  render:
    - "*.qmd"
    - "*.Rmd"
    - "*.md"
    - "!README.md"
    - "!LICENSE.md"
    - "!myresources/"
    - "!renv/"
    - "!certificate*"
  resources:
    - "files/"
  post-render:
    - makeredirects.R
  preview:
    port: 4321
    browser: true
    watch-inputs: false
execute:
  # Re-render only when source changes
  freeze: auto
description-meta: "Andreas Handel personal website."
engine: knitr
filters:
   - include-code-files

website:
  title: "Andreas Handel"
  site-url: "https://www.andreashandel.com"
  repo-url: https://github.com/andreashandel/andreashandelwebsite
  description: "Website of Andreas Handel"
  favicon: /files/icon.png 
  google-analytics: "UA-48442618-4"
  twitter-card: 
    creator: "@andreashandel"
  cookie-consent: true    
  search: true
  navbar:
    background: "#99ccff"
    logo: /files/logo.png
    left:
      - text: "About"
        file: about.qmd
      - text: "Posts"
        file: posts.qmd
      - text: "Presentations"
        file: presentations.qmd
      - text: "Projects"
        file: projects.qmd


  page-footer:
    left: |
      {{< fa regular copyright >}} Andreas Handel, 2023<br>
      All content licensed under {{< fa brands creative-commons >}}
      {{< fa brands creative-commons-by >}} {{< fa brands creative-commons-sa >}} {{< fa brands creative-commons-nc >}} [(CC BY-NC-SA 4.0)](http://creativecommons.org/licenses/by-nc-sa/4.0/)<br>
      Opinions are my own and do not represent my employer
      
    right: |
      Made with {{< fa brands r-project >}} and [Quarto](https://quarto.org/)<br>
      Inspiration and code snippets taken from [these folks](/posts/quarto-website-migration.html)<br>
      [Source at {{< fa brands github >}} GitHub](https://github.com/andreashandel/andreashandelwebsite)


format:
  html:
    theme: 
      light: [matria,customstyle.scss]
      dark: [slate,customstyle.scss]
    toc: true
