/*-- scss:defaults --*/

/* Colors */

$blue:    #267ee3 !default;
$indigo:  #6610f2 !default;
$gray-765: #373a3c !default;
$gray-800: #373a3c !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #EE6A24 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #20c997 !default;
$cyan:    #3093CF !default;


/*-- scss:rules --*/



.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}



.goals {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid teal; 
  border-radius: 10px;
}

.goals-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: rgb(123, 173, 173);
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("files/goal.png");
}

.goals-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

